@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&family=Roboto&family=Roboto+Condensed&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #ffd000;
}

body {
    font-size: 16px;
}

.showbox {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    padding: 5%;
    z-index:1;
}

.loader {
    position: relative;
    margin: auto;
    height: 70px;
    width: 70px;
    top: 40%;
}

.loader:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.circular{
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
}

.path{
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }

        50% {
            stroke-dasharray: 89,200;
            stroke-dashoffset: -35;
    }

        100% {
            stroke-dasharray: 89,200;
            stroke-dashoffset: -124;
        }
}

@keyframes dash {
       0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset:0;
       }

       50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
       }

       100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
       }
}

.nav-container {
    padding: 20px;
    background-color: white;
}

.nav-container ul{
    justify-content: space-between;
    display: flex;
}

.nav-container ul li {
    display: inline-block;
}

.nav-container ul li a {
    text-decoration: none;
}

.nav-container .heading {
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.wrapper {
    text-align: center;
    padding: 60px 30px;
    background-image: url(./imgs/bg-left.png), url(./imgs/bg-right.png);
    background-size: 393px auto;
    background-position: calc(50% - 600px)0, calc(50% + 600px) 0;
    background-repeat: repeat-y;
    background-color: #f6f6f7;
}

.wrapper .head {
    padding: 5px;
    font-weight: lighter;
    color: rgb(54,54,54);
    letter-spacing: 1px;
}

.wrapper .main-head {
    font-size: 3.5rem;
    font-weight: bolder;
    color: rgba(0,0,0,0.938);
    text-shadow: 3px 0px 0px rgba(0,0,0,0.938);
}

.text-shadow{
    text-shadow: 1px 0px 0px rgb(0 0 0 / 62%);
}

.clock i {
    font-size: 5rem;
    margin-top: 10px;
    border: 8px solid #fbbf24;
    border-radius: 50%;
    background-color: black;
    color: white;
}

.modes {
    padding: 10px 20px;
    font-size: 20px;
    background-color: white;
    width: 180px;
    text-align: center;
    margin: 15px;
    border-radius: 15px;
    cursor: pointer;
    color: black;
    box-shadow: rgba(0,0,0,0.15) 1.95px 1.95px 2.6px;
}

a{
    text-decoration: none;
    color: white;
}

.modes:hover {
    background-color: #fcd34d;
}

.selected {
    background-color: #fcd34d;
}

.inline {
    display: inline-block;
    vertical-align: middle;
}

.nav-links{
    margin: 20px;
    position: relative;
}

.time-modes {
    display: inline-block;
}

.options {
    display: inline;
    position: absolute;
    width: max-content;
    top: 15px;
}

.option {
    width: 70px;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    border: 2px solid #f3f4f6;
    color: black;
}

.option:hover {
    border: 2px solid var(--primary-color);
    background-color: white;
}

.hide {
    display: none;
    visibility: collapse;
}

.center {
    text-align: center;
}

.svg-path {
    position: absolute;
    top: 0;
    left: 0;
}

.time-modes-section {
    background-color: var(--primary-color);
    position: relative;
    padding: 50px 10px;
}

.time-modes-section .sub-head {
    transform: rotate(-5deg);
    color: rgb(47,47,47);
    font-weight:lighter;
    margin-top: 50px;
    text-align: center;
    background-color: #ffffff99;
    max-width: 280px;
    margin: auto;
    margin-top: 50px;
    padding: 5px;
}

.time-modes-section .head {
    text-decoration: underline;
    max-width: 500px;
    margin: 50px auto;
    transform: rotate(-5deg);
    letter-spacing: 2px;
    font-size: 2.4rem;
    top: 0;
    position: relative;
    margin-top: 20px;
}

.time-modes-wrapper {
    margin-top: 50px;
}

.time-modes-wrapper .grid-container ,
.infinity-mode-section .grid-container {
    display: grid;
    max-width: 1000px;
    margin: auto;
    width: 90%;
    margin-top: 10px;
    justify-content: center;
    grid-template-columns: 100px 10px 100px 100px 100px;
    grid-template-rows: 100px 30px;
    grid-row-gap: 10px;
    grid-column-gap: 5%;
}

.one {
    grid-column: 1/2;
    grid-row: 1/3;
}

.two{
    grid-column: 3 / 4;
    grid-row: 1/1;
}

.three {
    grid-column: 4/5;
    grid-row: 1/1;
}

.four {
    grid-column: 5/6;
    grid-row: 1/1;
}

.five {
    grid-column: 3/4;
    grid-row: 2/2;
}

.six {
    grid-column: 4/5;
    grid-row: 2/2;
}

.seven{
    grid-column: 5/6;
    grid-row: 2/2;
}

.result-data {
    background-color: white;
    vertical-align: middle;
    font-size: 26px;
    border-radius: 25px;
    line-height: 90px;
    height: 90px;
    width: 90px;
    font-weight: bold;
}

.mini {
    font-weight: lighter;
    font-size: 16px;
}

.time-modes-wrapper .time,
.infinity-mode-section .time {
    font-size: 55px;
    font-weight: bolder;
    height: 115px;
    width: 115px;
    border-radius: 100px;
    border: 8px solid white;
    background-color: rgba(36,36,36,0.794);
    color: white;
    box-sizing: border-box;
}

.time-modes-wrapper .time p {
    line-height: 8px;
    top: 38px;
    position: relative;
}

.para-type {
    max-width: 900px;
    width: 95%;
    font-size: 25px;
    display: block;
    height: 90px;
    margin: 50px auto;
    overflow-y: hidden;
    background-color: black;
    color: white;
    padding: 8px 15px;
    line-height: 3em;
    word-break: break-all;
}

.time-modes-wrapper .para-type {
    background-color: #f6f6f7;
    color: black;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}

.type-area , .timer {
    
}